---
layout: layouts/page.njk
title: Tags
permalink: /tags/
---
<ul class="post-list">
  {% for tag in tags %}
    <li>
      <h2>
        <a class="post-link" href="{{ tag.permalink | relativeUrl(page.url) }}">{{ tag.displayTitle }}</a>
      </h2>
      <p>{{ tag.count }} post{% if tag.count != 1 %}s{% endif %}</p>
    </li>
  {% endfor %}
</ul>
