---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->

 <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->


<p>Hi! I am a data journalist living in London, where I work for the <em>Financial Times</em>. 

<p>I am currently migrating my much-neglected <a href="http://www.martinstabe.com/">old blog</a> here.</p>

<p>For now, you can find me on <a href="https://uk.linkedin.com/in/martinstabe">LinkedIn</a>, <a href="http://twitter.com/martinstabe">Twitter</a>, <a href="https://www.facebook.com/Martin-Stabe-922279251184719/">Facebook</a>, <a href="https://www.instagram.com/martin.stabe/">Instagram</a>, <a href="http://journalisted.com/martin-stabe">Journalisted</a>, or <a href="https://github.com/MartinStabe">Github</a>.</p>

<!--
  <ul class="post-list">
    {% for post in site.posts %}

{% if post.categories == links %}
      <li{% if post.permalink %} class="link"{% endif %}>
        <span class="post-meta">{% if post.permalink %}<strong>LINK &raquo; </strong> {% endif %}{{ post.date | date: "%B %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{% if post.permalink %}{{ post.permalink }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt | truncatewords: 100 }}
        </p>
      </li>
{% endif %}
    {% endfor %}
  </ul>
-->

</div>
