---
layout: layouts/page.njk
title: About
permalink: /about/
---
<p><img src="{{ '/img/martin-stabe.jpg' | relativeUrl(page.url) }}" style="margin: 0 12px 12px 0; max-width:150px; vertical-align:top; float:left;" alt="Martin Stabe">Hi! I am a data journalist living in London and working for the <em>Financial Times</em>. Within the <a href="https://www.ft.com/data/">FT Visual & Data Journalism department</a>, I manage a group that applies methods from data science and data engineering to the <em>FT’s</em> journalism, including projects to automate and incorporate AI into our workflows. Our work includes all of the <em>FT’s</em> <a href="https://ig.ft.com/us-elections/2024/results/president/">live election-night results coverage</a>, pre-election <a href="https://ig.ft.com/uk-general-election/2024/projection/?syn-25a6b1a6=1&constituency=E14001172">polling analysis</a> and news dashboards based on <a href="https://www.ft.com/content/2c473393-35fb-479d-8bba-236a1a98087c?syn-25a6b1a6=1">live-updating markets and economics data</a>.</p>

<p>Previously, I managed the Interactive News desk &mdash; a team of journalists, designers and web developers who created new digital storytelling formats, including early multimedia <a href="http://ig.ft.com/sites/2013/seasonal-appeal/">visual stories</a>, interactive news applications, and <a href="https://www.ft.com/podcasts">podcasts</a>.</p>

<p>Before joining the <em>FT</em> in 2010, I was <a href="http://www.retail-week.com/martin-stabe/1216.bio">online editor</a> of <a href="http://www.retail-week.com">Retail Week</a> magazine. I began my career in 2006 as a reporter <a href="https://pressgazette.co.uk/?s=Martin+Stabe">covering digital media for <em>Press Gazette</em></a>, the UK trade magazine for journalists. (Sadly much of the work I did there has succumbed to link rot.)</p>

<p>Born in Germany and raised in New York City, I moved to Britain in 1997. I studied journalism at <a href="https://www.citystgeorges.ac.uk/about/schools/communication-creativity/journalism">City University of London</a>  (Now City St George’s), political sociology at the <a href="https://www.lse.ac.uk/study-at-lse/graduate/msc-political-sociology">London School of Economics</a>, and north American politics at the <a href="https://www.sussex.ac.uk/americanstudies/">University of Sussex</a>. I spent the third year of my undergraduate degree at <a href="http://www.northwestern.edu">Northwestern University</a> outside Chicago.</p>

<p>I played baseball in Britain&rsquo;s top league for a decade, winning three national championships with the now-defunct <a href="https://www.brightonbaseball.co.uk/about-us">Brighton Buccaneers</a> and later joining the <a href="http://www.londonmets.org/">London Mets</a>. This may explain my occasional excitement about <a href="https://britishbaseball.org.uk/great-britain-baseball/">Great Britain</a> playing in some obscure international tournament or any European team overachieves at the World Baseball Classic. I’m also a long-suffering fan of the <a href="https://www.mlb.com/mets">New York Mets</a>.</p> 

<p>You can find me on <a href="https://bsky.app/profile/martinstabe.bsky.social">Bluesky</a>, <a href="https://github.com/MartinStabe">Github</a> and <a href="https://uk.linkedin.com/in/martinstabe">LinkedIn</a>. I have largely-dormant accounts on <a href="https://www.facebook.com/Martin-Stabe-922279251184719/">Facebook</a> and the thing formerly called <a href="https://www.twitter.com/martinstabe">Twitter</a>. My email is in the footer of this page.</p>

<p>This is a personal web site, and none of its contents represent the views of the <em>Financial Times.</em></p>
