---
layout: layouts/page.njk
title: Martin Stabe
permalink: /
---
<p>Hi! I am a data journalist living in London, where I <a href="https://www.ft.com/martin-stabe">work for the <em>Financial Times</em></a>.</p>

<p>I am currently migrating my much-neglected old <a href="{{ '/blog/' | relativeUrl(page.url) }}">blog</a> here.</p>

<p>For now, you can find me on <a href="https://bsky.app/profile/martinstabe.ft.com">Bluesky</a>, <a href="https://www.x.com/martinstabe/">Twitter/X</a>, <a href="https://github.com/MartinStabe">Github</a>, <a href="https://uk.linkedin.com/in/martinstabe">LinkedIn</a>, <a href="https://www.facebook.com/martinstabe">Facebook</a>, or <a href="https://www.instagram.com/martin.stabe/">Instagram</a>.</p>
