If you liked this post, you can
<a href="https://bsky.app/intent/compose?text={{ title }} {{ site.url }}" target="_blank">
  share it with your followers</a>
or
<a href="https://bsky.app/profile/martinstabe.ft.com">
  follow me on Bluesky</a>.
